@import './custom.css';

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer components {
  .product-info .product-details ul {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 25px;
    list-style: disc;
    padding-left: 15px;
  }

  #tab-view .tab-header a.active {
    color: theme('textColor.black');
    border-color: theme('textColor.black');
    @apply border-b-4;
  }
}
